<div class="container">

  <div class="container">

    <!-- START CODING HERE -->

    <!-- *************************************************************************
    This row contains the body. All the body is  inside a jumbotron. Please refer
    to the next comment to delete and add your code, Leave this code untouched.
    ****************************************************************************-->
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="ml-5 mr-5">
            <!-- *************************************************
              ADD YOUR CODE FOR THE BODY OF THE HANDLEBARS HERE.
            ************************************************* -->


              <h1 class="text-center">Hopefully Something Cool is gonna be here.</h1>
              <br>
              <br>
              <br>
              <h1 class="text-center">Presentation Day Update:</h1>
              <h2 class="text-center">We did not have enough time to code the widgets for the dashboard.</h2>
              <h1 class="text-center"> :'(</h1>
            <!-- *******************************************************
               YOUR CODE FOR THE BODY OF THE HANDLEBAR SHOULD END HERE.
            ******************************************************** -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/dashboard.js"></script>
