<div class="container">


  <!-- *************************************************************************
  This row contains the body. All the body is  inside a jumbotron. Please refer
  to the next comment to delete and add your code, Leave this code untouched.
  ****************************************************************************-->
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="ml-5 mr-5">
          <!-- *************************************************
            ADD YOUR CODE FOR THE BODY OF THE HANDLEBARS HERE.
          ************************************************* -->
          <h3 class="">ADD NEW INVENTORY</h3>
          <hr>
          <form class="">
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="Product_name">Product Name:</label>
                <input type="text" class="form-control" id="product_name" placeholder="Product's Name">
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="client_company">Inventory Quantity:</label>
                <input type="number" class="form-control" id="inventory_qty" placeholder="0">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="available_inventory">Available Inventory:</label>
                <input type="number" class="form-control" id="available_inventory" placeholder="0">
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="product_image">Product Image:</label>
                <input type="text" class="form-control" id="product_image" placeholder="Type URL Here">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="rentalPrice_day">Rental Price/Day:</label>
                <input type="number" class="form-control" id="rentalPrice_day" placeholder="0">
              </div>
            </div>
            <hr>
          </form>
          <div class="text-right">
            <button type="submit" class="btn btn-outline-danger" id="newInventorySubmit">Submit</button>
          </div>
        </div>
        <!-- *******************************************************
             YOUR CODE FOR THE BODY OF THE HANDLEBAR SHOULD END HERE.
          ******************************************************** -->

      </div>
    </div>
  </div>
</div>

<!-- **************************************************
           EDIT TO POINT TO YOUR .JS HERE:
*****************************************************-->
<script type="text/javascript" src="/js/inventory_new.js"></script>
