<div class="container">
  <!-- MAIN MENU -->
  <hr>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active btn-dark" href="/rental/dashboard">RENTAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/client/dashboard">CLIENTS</a>
        </li>
        <li class="nav-item">
          <a class=" nav-link disabled" href="/inventory/dashboard">INVENTORY</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <!-- SUB MENU -->
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active btn-dark" href="/rental/dashboard">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/rental/list">RENTAL LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/rental/new">NEW RENTAL ORDER</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- START CODING HERE -->


</div>
